- if admin_titleproduct.errors.any?
  %div#error_explanation
    %h2
      = "#{pluralize(admin_titleproduct.errors.count, "error")} prohibited this admin_titleproduct from being saved:"
    %ul
      - admin_titleproduct.errors.full_messages.each do |msg|
        %li
          = msg

