#id_titleproducts
  = f_admin_product.submit("Ajouter des détails concernant ce produit", :name => "add_newtitleproducts_#{admin_product.id}")
  - unless admin_titleproduct.nil?
    = f_admin_product.fields_for(:titleproducts, admin_titleproduct) do |f_admin_titleproduct|
      = render(:partial => "/admin/titleproducts/templates/form_titleproduct", :locals => {:f_admin_titleproduct => f_admin_titleproduct, :admin_product => admin_product})
