<%= form_for(@categoryall) do |f| %>
  <% if @categoryall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoryall.errors.count, "error") %> prohibited this categoryall from being saved:</h2>

      <ul>
      <% @categoryall.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
