= render(:partial => "/admin/panels/templates/form_panel_with_fields_for", :locals => {:admin_panel => admin_panel, :f => f})
= render(:partial => "/admin/categoryalls/templates/form_categoryall_with_fields_for", :locals => {:admin_categoryall => admin_categoryall, :f => f, :admin_panel => admin_panel})
= render(:partial => "/admin/contents/templates/form_content_with_fields_for", :locals => {:admin_content => admin_content, :f => f, :admin_panel => admin_panel})
= render(:partial => "/admin/panels/templates/form_panel_linkwebsite_with_fields_for", :locals => {:admin_panel => admin_panel, :f => f})
