= render(:partial => "/admin/titleproducts/templates/form_titleproduct_with_fields_any_for_all_form_titleproducts", :locals => {:f_admin_titleproduct => f_admin_titleproduct, :admin_categoryall => admin_categoryall, :admin_content => admin_content, :admin_panel => admin_panel, :admin_product => admin_product})
