= f.fields_for(:categoryalls, @admin_categoryall) do |admin_categoryall_field|
  = admin_categoryall_field.fields_for(:panels, @admin_panel) do |admin_panel_field|
    = admin_panel_field.fields_for(:contents, @admin_content) do |admin_content_field|
     
= render(:partial => "/admin/products/templates/form_product", :locals => {:admin_categoryall => admin_categoryall, :f_admin_product => f})
   
