= render(:partial => "/admin/categoryalls/templates/form_categoryall_with_fields_for_products_with_any_fields_for_titleproducts_with_fields_for", :locals => {:f_admin_product => f, :admin_categoryall => admin_categoryall, :admin_content => admin_content, :admin_panel => admin_panel, :admin_product => admin_product, :admin_titleproduct => admin_titleproduct})

