= render(:partial => "/admin/products/templates/form_product_with_fields_any_for_all_form_products", :locals => {:f => f, :admin_categoryall => admin_categoryall, :admin_product => admin_product, :admin_panel => admin_panel, :admin_content => admin_content})
