%div#id_categoryall
  = f.submit("Ajouter une nouvelle catégorie", :name=>"add_newcategoryalls_#{admin_panel.id}")
  = render(:partial => "/admin/categoryalls/templates/form_categoryall", :locals => {:admin_panel => admin_panel, :f_admin_categoryall => f_admin_categoryall})
